.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f8f8f8;
}
.header, .footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
}

.sidebar, .sidebar-right {
  background-color: #f0f0f0;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 2px solid black;
}
.mainRecept{
  border: 2px solid black;
  position: relative;
  top: -150px;
}
.cook{
  border: 2px solid black;
}

.content-center {
  text-align: center;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 50%;
  position: absolute;
  left: 30%;
  bottom: 100px; /* Adjust the distance from the bottom */
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftFood {
  grid-column: 1;
}

.centerFood {
  grid-column: 2;
}

.rightFood {
  grid-column: 3;
}
.recipe-item{
  font-size: 25px;
}
.baker-image {
  position: absolute;
  top: -50px;
  left: 20px;
  transition: transform 1s ease;
  width: 150px;
}

.baker-image.start {
  transform: translate(45vw, 60vh);
}

.baker-image.center {
  transform: translate(45vw, 70vh);
}

.baker-image.left {
  transform: translate(30vw, 70vh);
}

.baker-image.right {
  transform: translate(60vw, 70vh);
}

.baker-image.cook {
  transform: translate(45vw, 60vh);
}

.picked-ingredients {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
